<style>
  a.popup-trigger {
    text-decoration: none;
    color: #424242;
    border: 1px solid;
    padding: 10px 30px;
  }

  a.popup-trigger:hover {
    color: white;
    background: grey;
  }

  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .popup-content {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    max-height: 90%;
    overflow: auto;
    margin: auto;
  }

  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }

/*   Chart CSS */
    summary h4 {
    border: 1px solid;
    padding: 5px;
    width: 50%;
}
  summary h4:hover {
    background: gray;
    color: white;
}
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    border: 1px solid black;
    text-align: center;
    padding: 0;
  }

.rte p, .rte {
    margin: 5px 0;
}
</style>

<a href="#" class="popup-trigger">SIZE CHART</a>

<div class="popup-container">
  <div class="popup-content">


    <div class="rte rte--nomargin">
  <span style="font-weight: bold;">Women's Size Conversions</span></b>
  <table style="font-weight: bold;">
    <tbody>
      <tr>
        <td>
          <p>
            <b>UK SIZES</b>
          </p>
        </td>
        <td>
          <p>
            <b>EURO SIZES</b>
          </p>
        </td>
        <td>
          <p>
            <b>US SIZES</b>
          </p>
        </td>
        <td>
          <p>
            <b>INCHES</b>
          </p>
        </td>
        <td>
          <p>
            <b>CM</b>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">2</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">35</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">4</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">8.1875″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">20.8</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">3</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">36</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">5</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">8.10″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">21.7</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">4</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">37</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">6</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">8.876″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">22.5</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">5</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">38</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">7</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">9.27″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">23.6</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">6</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">39</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">8</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">9.7″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">24.3</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">7</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">40</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">9</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">9.876″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">25.3</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">8</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">41</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">10</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">10.187″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">25.95</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">9</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">42</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">11</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">10.9″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">26.8</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">10</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">43</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">12</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">10.877″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">27.7</span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <span style="font-weight: bold;">Men's Size Conversions</span>
  <table style="font-weight: bold;">
    <tbody>
      <tr>
        <td>
          <p>
            <b>UK SIZES</b>
          </p>
        </td>
        <td>
          <p>
            <b>EURO SIZES</b>
          </p>
        </td>
        <td>
          <p>
            <b>US SIZES</b>
          </p>
        </td>
        <td>
          <p>
            <b>INCHES</b>
          </p>
        </td>
        <td>
          <p>
            <b>CM</b>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">6</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">40</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">7</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">9.625″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">24.4</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">7</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">41</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">8</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">9.77″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">24.9</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">8</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">42</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">9</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">10.127″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">25.8</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">9</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">43</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">10</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">10.4377″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">26.8</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">10</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">44</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">11</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">10.77″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">27.4</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">11</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">45</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">12</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">11.127″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">28.4</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">12</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">46</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">13</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">11.5625″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">29.4</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">13</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">47</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">14</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">11.875″</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">30.2</span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <span style="font-weight: bold;">Infant Kids Size Conversions</span>
  <table style="font-weight: bold;">
    <tbody>
      <tr>
        <td>
          <p>
            <b>UK SIZES</b>
          </p>
        </td>
        <td>
          <p>
            <b>EURO SIZES</b>
          </p>
        </td>
        <td>
          <p>
            <b>US SIZES</b>
          </p>
        </td>
        <td>
          <p>
            <b>CM</b>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">3</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">19</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">4</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">10.9</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">4</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">20</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">5</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">11.7</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">4.5</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">21</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">5.5</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">12.2</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">5</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">22</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">6</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">12.6</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">6</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">23</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">7</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">13.4</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">7</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">24</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">8</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">14.2</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">8</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">25</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">9</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">15.1</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">8.5</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">26</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">9.5</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">15.5</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">9</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">27</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">10</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">15.9</span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <span style="font-weight: bold;">Kids Size Conversions</span>
  <table style="font-weight: bold;">
    <tbody>
      <tr>
        <td>
          <p>
            <b>UK SIZES</b>
          </p>
        </td>
        <td>
          <p>
            <b>EURO SIZES</b>
          </p>
        </td>
        <td>
          <p>
            <b>US SIZES</b>
          </p>
        </td>
        <td>
          <p>
            <b>CM</b>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">9</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">27</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">10</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">15.9</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">10</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">28</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">11</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">16.8</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">11</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">29</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">12</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">17.2</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">11.5</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">30</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">12.5</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">18.1</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">12</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">31</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">13</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">18.5</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">13</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">32</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">1</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">19.3</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">1</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">33</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">2</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">20.2</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">2</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">34</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">3</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">21</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">2.5</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">35</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">3.5</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">21.4</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <span style="font-weight: 400;">3</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">36</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">4</span>
          </p>
        </td>
        <td>
          <p>
            <span style="font-weight: 400;">21.9</span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  
  
  </div>
  <a href="#" class="popup-close">Close</a>
</div>

<script>
  $(document).ready(function() {
    $('.popup-trigger').click(function(e) {
      e.preventDefault();
      $('.popup-container').fadeIn();
    });
    $('.popup-close').click(function() {
      $('.popup-container').fadeOut();
    });
    $(document).mouseup(function(e) {
      var container = $('.popup-content');
      if (! container.is(e.target) && container.has(e.target).length === 0) {
        $('.popup-container').fadeOut();
      }
    });
  });
</script>